.container {
  padding: 0 10px;
}

.movieDetailsContainer {
  display: flex;
  gap: 15px;
  padding: 8px 0;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 8px 0;
  color: black;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}

.link:hover {
  color: orangered;
}

.menuDetails {
  padding-top: 2px;
  padding-left: 10px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}
